<br><br><br><br><br>
  <form class="example-form">
    <h1 class="er"><b>Login</b></h1>
    <mat-form-field class="example-full-width">
      <mat-label>Enter Your Email Id</mat-label>
      <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
             placeholder="abc@gmail.com" [(ngModel)]="loginData.email">
      <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" [errorStateMatcher]="matcher" [(ngModel)]="loginData.password" placeholder="Abc01@">
        <mat-error *ngIf="password.hasError('required')">
            password is <strong>required</strong>
          </mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div class="row">
      <button mat-raised-button color="primary" [routerLink]="['/registation']">Registation</button>
      <button mat-raised-button color="primary" (click)="login(loginData)">Login</button>
    </div>
  </form>
  
  
  