/* .example-spacer {
    flex: 1 1 auto;
  } */
  :host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  mat-drawer {
    width: 255px;
    margin-left: 0px;
  }
  mat-drawer-container {
    height: 100%;
  }
  
  mat-drawer {
    background: #ffffff;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .header-color{
    color: #fff;
    background-color: rgb(53, 184, 53);
  }
  .icon-color{
    color: rgb(16, 224, 16);
  
  }
  
  
  
  :host {
    .mat-icon {
      vertical-align: middle;
      margin-right: 1rem;
    }
  }
  .logo {
    text-align: center;
    img {
      width: 170px;
      margin-left: 15px;
    }
  }
  
  .mat-subheader {
    color: #ffffff;
    font-size: 0.6rem;
    font-weight: 100;
    letter-spacing: 1px;
  }
  
  .selected {
    background-color: rgb(175, 240, 185);
    color: white;
  }
  
  .active {
    font-weight: bold;
  }